PORT=3000

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=auth_db
POSTGRES_PORT=5432

DATABASE_URL="postgresql://postgres:postgres@localhost:5432/auth_db?schema=public"

JWT_ACCESS_SECRET=super_access_secret_change_me
JWT_REFRESH_SECRET=super_refresh_secret_change_me
ACCESS_TOKEN_TTL=15m
REFRESH_TOKEN_TTL=7d
